<%= form_for [@page, @section], remote: true do |f| %>
  <ol class="fields">
    <li>
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: 'Title' %>
    </li>
    <li>
      <%= f.label :text %>
      <%= f.text_area :text, placeholder: 'Text' %>
    </li>
  </ol>

  <ol class="actions">
    <li><%= f.submit %></li>
  </ol>
<% end %>
