<%# TODO: Remove the remote logic. %>
<%= form_for @page, remote: @page.new_record? ? false : true do |f| %>
  <ol class="fields">
    <% unless @page.new_record? %>
      <li>
        <%= f.label :page_id %>
        <%= f.collection_select :page_id, Page.where(page_id: nil).where("id != #{@page.id}").order(:position), :id, :title, :include_blank => true %>
      </li>
    <% end %>
    <li>
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: 'Title'  %>
    </li>
    <li>
      <%= f.label :text %>
      <%= f.text_area :text, placeholder: 'Text' %>
    </li>
    <li>
      <%= image_tag @page.image.url(:thumb) if @page.image? %>
      <%= f.label :image %>
      <%= f.file_field :image, class: @page.image? ? :hidden : nil  %>
    </li>
  </ol>

  <ol class="actions">
    <li><%= f.submit %></li>
  </ol>
<% end %>
