<%= form_for(@page) do |f| %>
  <ol class="fields">
    <li>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </li>
    <li>
      <%= f.label :text %>
      <%= f.text_area :text %>
    </li>
  </ol>

  <ol class="actions">
    <li><%= f.submit %></li>
  </ol>
<% end %>
