<div data-page="<%= @page.to_param %>"<%== ' class="show"' if controller.action_name == 'show' %>>
  <%= link_to '', edit_page_path(page), class: 'edit' if controller.action_name == 'manage' %>
  <h1><%= page.title %></h1>
  <%= image_tag page.image.url(:small) if page.image? %>
  <%== page.text %>
</div>
