<div id="notice"><%= notice %></div>

<div>
  <%= link_to 'Edit', edit_page_path(@page) %>
  <h1><%= @page.title %></h1>
  <%= @page.text %>
</div>

<%= render @page.sections %>

<%= link_to 'New section', new_page_section_path(@page) %>
