<!DOCTYPE html>
<html>
  <head>
    <title><%= @page.title if @page %></title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div id="header">
      <div>
        Go for Goa
        <span>Danmark - Indien</span>
      </div>
    </div>

    <div id="nav">
      <ol id="pages">
        <% @pages.each do |page| %>
          <%= content_tag :li, link_to(page.title, page), id: dom_id(page) %>
        <% end %>
      </ol>
      <ol>
        <li><%= link_to 'New page', new_page_path %></li>
      </ol>
    </div>


    <div id="content">
      <%= yield %>
    </div>

  </body>
</html>
