<!DOCTYPE html>
<html>
  <head>
    <title><%= @page.title if @page %></title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div id="notice">
      <%= flash[:notice] %>
    </div>

    <div id="header">
      <div>
        <%= link_to 'Go for Goa', root_url %>
        <span>Danmark - Indien</span>
      </div>
    </div>

    <div id="nav">
      <ol id="pages">
        <% @pages.each do |page| %>
          <%= content_tag :li, link_to(page.title, page), id: dom_id(page) %>
        <% end %>
      </ol>
      <ol>
        <li><%= link_to 'New page', new_page_path %></li>
      </ol>
      <ol>
        <li>
          <span>Links</span>
          <ol id="links">
            <% @links.each do |link| %>
              <%= content_tag :li, link_to(link.title, edit_link_path(link)), id: dom_id(link), data: { link: link.to_param } %>
            <% end %>
          </ol>
          <ol>
            <li><%= link_to 'New link', new_link_path %></li>
          </ol>
        </li>
      </ol>
      <div id="countdown">
      </div>
    </div>

    <div id="content">
      <%= yield %>
    </div>

  </body>
</html>
