<!DOCTYPE html>
<html>
  <head>
    <title><%= @page.title if @page %></title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body<%== ' class="manage"' if controller.action_name == 'manage' or controller.controller_name == 'links' %>>
    
    <div id="notice">
      <%= flash[:notice] %>
    </div>

    <div id="header">
      <div>
        <%= link_to @site.title, root_url %>
        <span><%= @site.subtitle %></span>
      </div>
    </div>

    <div id="nav">
      <ol id="pages">
        <% Page.where(page_id: nil).each do |page| %>
          <%= content_tag :li, id: dom_id(page) do %>
            <% if controller.action_name == 'manage' or controller.controller_name == 'links' %>
              <%= link_to(page.title, manage_page_path(page)) %>
            <% else %>
              <%= link_to(page.title, page) %>
            <% end %>
            <% if page.pages.count > 0 %>
              <ol>
                <% page.pages.each do |subpage| %>
                  <% if controller.action_name == 'manage' or controller.controller_name == 'links' %>
                    <%= content_tag :li, link_to(subpage.title, manage_page_path(subpage)), id: dom_id(subpage) %>
                  <% else %>
                    <%= content_tag :li, link_to(subpage.title, subpage), id: dom_id(subpage) %>
                  <% end %>
                <% end %>
              </ol>
            <% end %>
          <% end %>
              
        <% end %>
      </ol>
      <% if controller.action_name == 'manage' %>
        <ol>
          <li><%= link_to '+ Page', new_page_path, class: 'new' %></li>
        </ol>
      <% end %>
      <ol>
        <li>
          <span>Links</span>
          <ol id="links">
            <% @links.each do |link| %>
              <%= content_tag :li, link_to(link.title, edit_link_path(link), class: 'edit'), id: dom_id(link) %>
            <% end %>
          </ol>
          <% if controller.action_name == 'manage' %>
            <ol>
              <li><%= link_to '+ Link', new_link_path, class: 'new' %></li>
            </ol>
          <% end %>
        </li>
      </ol>
      <div id="countdown">
        <% if @site.departs_on %>
          <%= (@site.departs_on - Date.today).to_i %> <%= @site.depart_text %>
        <% end %>
      </div>
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer">
      <% if controller.action_name == 'manage' or controller.controller_name == 'links' %>
        <%= link_to 'Log out', @page %>
      <% else %>
        <%= link_to 'Manage', manage_page_path(@page) %>
      <% end %>
    </div>

  </body>
</html>
